<div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-info pull-left">روزانه
            </span>
            <h5>
           هزینه</h5>
        </div>
        <div class="ibox-content" id="hazine">


        </div>
    </div>
    <script>
    $(function(){
      var getHazine= function () {

         $.ajax({
           url: 'getHazine/',
           type:'get',
           dataType: 'json',
           success: function (data) {

               //alert("Company created!");  // <-- This is just a placeholder for now for testing
               //$("#tbody_company").empty();
               $("#hazine").html(data.html_hazine_list);
               //$("#modal-company").modal("hide");
               //console.log(data.html_order_list);


           }
         });
         return false;
       };


    getHazine();
    });
    </script>
